<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {% include sidebar.html %}
      <div class="content">
      	<h1>{{ page.title }}
          {% if page.github %}
            <span class="subheader">         
              <a target="_blank" href="{{ page.github }}">
                View Source
              </a>
            </span>
          {% endif %}
          {% if page.google %}
            <span class="subheader">
              <a target="_blank" href="{{ page.google }}">View Guidelines</a>
            </span>
          {% endif %}
        </h1>

      	{{ content }}
      </div>
    </div>
  </body>

</html>
